[mysqld]
bind-address    = 0.0.0.0        # any container can conect
port            = 3306           # listen from port 3306
datadir         = /var/lib/mysql # dir path where data base will be storage
